@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.icon-content{
  font-size: 5em;
}
/* label color */
   .input-field label {
     color: #FF1744;
   }
/* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FF1744;
   }
   .input-field input[type=tel]:focus + label {
     color: #FF1744;
   }
   .input-field input[type=email]:focus + label {
     color: #FF1744;
   }
   .input-field input[type=password]:focus + label {
     color: #FF1744;
   }
/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FF1744;
     box-shadow: 0 1px 0 0 #FF1744;
   }
   /* label underline focus color */
   .input-field input[type=tel]:focus {
     border-bottom: 1px solid #FF1744;
     box-shadow: 0 1px 0 0 #FF1744;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #FF1744;
     box-shadow: 0 1px 0 0 #FF1744;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #FF1744;
     box-shadow: 0 1px 0 0 #FF1744;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
.input-field .prefix.active {
  color: #FF1744;
}

.slider .indicators .indicator-item.active {
    background-color: #FF1744;
}